.vnote-panel {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    padding: 1.5rem;
    border-radius: 10px;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 6rem;
    overflow-x: scroll;
    text-wrap: nowrap;

    .vnote-panel__card {
        font-size: 2rem;
        font-weight: initial;
        display: inline-flex;
        margin: 0.5rem;
        padding: 1.5rem;
        border-radius: 10px;
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
        min-width: 15rem;
        max-width: 25rem;
        overflow-y: scroll;
        overflow-x: hidden;
        text-wrap: nowrap;
        display: inline-block;
        width: fit-content;
        justify-self: stretch;
        span {
            font-size:2rem
        }
    }

    .vnote-panel__time {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .vnote-panel__text {
        font-size: 2rem;
        background-color: transparent;
        display: block;
        overflow-wrap: nowrap;
        overflow-y: scroll;
        max-width: 100%;
        width: 100%;
        text-wrap: balance;
        height: 12rem;
        max-height: 15rem;
        border: 0rem;
        color: white;
        font-weight: bold;
        font-family: inherit;
    }

    .vnote-panel__delete-button {
        font-size: 3rem;
        font-weight: bold;
        padding: 1.25rem;
        border: none;
        border-radius: 5px;
        background-color: #AF4C4C;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        margin: 0.1rem;
        position: relative;
        height: 100%;
        justify-content: center;
        text-align: center;
    }

    .vnote-panel__play-button {
        font-size: 3rem;
        font-weight: bold;
        padding: 1.25rem;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        margin: 0.1rem;
        position: relative;
        height: 100%;
        text-decoration: none;
    }
}


.vnote-panel-menu {
    position: relative;
    top: 2.5em;
    font-size: 2rem;
    font-weight: bold;
    display: inline-flex;
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-left: 1.5rem;
    height: 4rem;

    .vnote-panel__info-button {
        right: 0px;
        z-index: 2;
        position: absolute;
        margin-right: 2rem;
        cursor: pointer;
    }
}
.vnote-panel-menu__button {
    position: relative;
    right: 1rem;
    min-width: 4rem;
    max-height: 4rem;
    display: inline-flex;
    border: 5px solid black;
    background-color: white;
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    top: 0.5rem;
    line-height: normal;
    z-index: 2;
}
.vnote-panel-menu__button:hover {
    color: white;
    background-color: black;
}
